# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
trustmarkintar/node_modules
trustmarkintar/.pnp
trustmarkweb/node_modules
trustmarkweb/.pnp
.pnp.js
.yarn/install-state.gz

# testing
trustmarkintar/coverage
trustmarkweb/coverage

# next.js
trustmarkintar/.next/
trustmarkintar/out/
trustmarkweb/.next/
trustmarkweb/out/

# production
trustmarkintar/build
trustmarkweb/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
